@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

h1{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #164C45;
}

.table{
    border-collapse: collapse;
    font-size: 18px;
    min-width: 600px;
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    user-select: none;
    cursor: pointer;
}

.table thead tr{
    background-color: #16232E;
    color: white;
}

.table th{
    padding: 12px 15px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.table td{
    padding: 12px 15px;
    color: #9C3E00;
    font-weight: 400;
}

.table tbody tr{
    border-bottom: 1px solid #16232e1d;
}

.table tbody tr:nth-last-of-type(even){
    background-color: #a3a2a23b;
}

.table tbody tr:hover td{
    color:#502000
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #16232ebf;
}